body{
  display: flex;
}

aside{
  flex-grow: 1;
}

main{
  flex-grow: 20;
}

.card{
  width: 150px;
  border: 1px solid black;
}

aside .card img{
  max-width: 100%;
}

header{
  display: flex;
}

p{
  flex-grow: 1;
  margin: 5px 0 5px 5px;
}

.main-card > img {
  min-width: 500px;
  max-width: 500px;
}
